#contact_modal {
    display: none;
}


.photographer_profile {
    background-color: #FAFAFA;
    height: 300px;
    margin:20px 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}  

.photographer_profile .photographInfo {
    grid-column: 1;
    padding-left: 50px;
    margin: 0;
}

.photographer_profile .profileName {
    color:#D3573C;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.photographer_profile .imgPhotographers {
    display: none;
}

.photographer_profile h2 {
    display: none;
}

.photographer_profile .localisation {
    font-size: 1.5em;
    color: #901C1C;
    margin: 3px 0 15px 0;
    padding: 0;
}

.photographer_profile .tagline {
    font-size: 1.125em;
    color:#525252;
    margin: 0;
    padding: 0;
}

.imgProfile {
    grid-column: 3;
    justify-self: flex-end;
    margin-right: 50px;
}

.priceBlock {
    color: #000000;
    font-size: 1.5em;
    background-color: #DB8876;
    width: 316px;
    height: 68px;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 24px;
    text-align: end;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.totalLikes p {
    margin-bottom: 4px;
}
.priceBlock svg {
   width: 21px;
   height: 24px;
   translate: 0% 9%;
}

.contact_button, 
.send_button,
#tri {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.contact_button {
    grid-column: 2;
    place-self: center;
}

.contact_button:hover, 
.contact_button:focus {
    background-color: #DB8876;
    color: #000000;
}

.send_button {
    margin: 26px 0;
    padding: 0;
    place-self: start;
}

.send_button p {
    place-self: center;
}

.listBox label {
    margin-left: 100px;
    font-size: 1.125em;
    font-weight: bold;
}

.media_gallery {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
}

.photo,
.video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.like-container {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media_gallery p {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0;
}

.likeBlock {
    display: flex;
    align-items: center;
}

.media-card svg {
    fill: #901C1C; 
    height: 24px;
    cursor: pointer;
    margin-left: 4px;
    translate: 0% 9%;
}

header {
    position: relative;
    z-index: 1;
}
#main {
    position: absolute;
    z-index: 1;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px;
    margin: auto;
    max-width: 599px;
    max-height: 900px;
    overflow-y: scroll;
}

#contact_modal {
    position: fixed;
    z-index: 999;
    position-area: center;
    width: 599px;
}

#modal_opacity {
    position: fixed;
    background-color: rgba(196,196,196, 0.4);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 800;
    display: none;
}

.modal header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    margin-bottom: 15px;
}

.modal header img {
    cursor: pointer;  
    place-self: start;
}

.modal header h2,
.nameContactForm {
    font-size: 55px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    line-height: 95%;
    padding: 0;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal label,
.modal textarea, 
.modal input {
    color: #312E2E;
    font-size: 32px;
    font-family: "DM Sans", sans-serif;
}

.modal div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

.modal input, 
.modal textarea {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 5px;
}

.modal textarea {
    height: 150px;
}