/*sr-only*/
.hidden {
    display: none !important;
}

.sr-only {
    visibility: hidden;
}

/*Style positionnement  de base html*/
header {
    position: relative;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 23px 100px 0;
}

#main {
    position: absolute;
    z-index: 1;
    margin: 0 100px;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    width: 100%;
}

.logo {
    height: 50px;
}

.logo a {
    height: 50px;
}

/*Style des différents bouton*/
.contact_button, 
.send_button {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}

.contact_button {
    grid-column: 2;
    place-self: center;
}

.contact_button:hover, 
.contact_button:focus {
    background-color: #DB8876;
    color: #000000;
}

.send_button {
    margin: 25px 0 0;
    place-self: start;
    color:white !important;
}

.send_button p {
    place-self: center;
}

/*Style du profil du photographe*/
.photographer_profile {
    background-color: #FAFAFA;
    height: 300px;
    margin:20px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}  

.photographer_profile .photographInfo {
    grid-column: 1;
    padding-left: 50px;
    margin: 0;
}

.photographer_profile .profileName {
    color:#D3573C;
    font-size: 4em;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.photographer_profile .imgPhotographers {
    display: none;
}

.photographer_profile img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_profile h2 {
    display: none;
}

.photographer_profile .localisation {
    font-size: 1.5em;
    color: #901C1C;
    margin: 3px 0 15px 0;
    padding: 0;
}

.photographer_profile .tagline {
    font-size: 1.125em;
    color:#525252;
    margin: 0;
    padding: 0;
}

.imgProfile {
    grid-column: 3;
    justify-self: flex-end;
    margin-right: 50px;
}

/*Style priceBlok et totalLikes*/
.priceBlock {
    color: #000000;
    font-size: 1.5em;
    background-color: #DB8876;
    width: 316px;
    height: 68px;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 24px;
    text-align: end;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.totalLikes p {
    margin-bottom: 4px;
}
.priceBlock svg {
   width: 21px;
   height: 24px;
   translate: 0% 9%;
}

/*Style gallerie des médias*/
.media_gallery {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
}

.photo,
.video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.like-container {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media_gallery h3,
.media_gallery p {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0;
    font-weight: 500;
}

.likeBlock {
    display: flex;
    align-items: center;
}

.media-card svg {
    fill: #901C1C; 
    height: 24px;
    cursor: pointer;
    margin-left: 4px;
    translate: 0% 9%;
}

/*Style de la modal de contact*/
.modal {
    padding: 20px 35px 35px;
    border-radius: 5px;
    background-color: #DB8876;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 599px;
    max-height: 700px;
    height: max-content;
    overflow-y: scroll;
    box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 999;
    position-area: center;
    margin: 0;
}

#modal_opacity {
    position: fixed;
    background-color: rgba(196,196,196, 0.4);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 800;
}

.modal header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 0 0 10px 0;
}

.modal header img {
    cursor: pointer;  
    place-self: start;
}

.modal header h2,
.nameContactForm {
    font-size: 3.5em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    line-height: 98%;
    padding: 0;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal label,
.modal textarea, 
.modal input {
    color: #312E2E;
    font-size: 2.25em;
    font-family: "DM Sans", sans-serif;
}

.modal .focusable {
    color: rgba(0, 0, 0, .2); 
}

.modal div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

.modal input, 
.modal textarea {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
}

.modal textarea {
    height: 120px;
}


/*Style du tri*/
.listbox {
    position: relative;
    display: flex;
    padding: 15px 0 0;
}

#listboxTitle {
    font-size: 1.125em;
    font-weight: bold;
    margin-right: 23px;
}

.listbox svg{
    width: 18px;
    height: 18px;
    fill: white;
}

.options {
    position: absolute;
    left: 80px;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    width: 170px;
    list-style: none;
    z-index: 10;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.options li {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1.125em;
    font-weight: bold;
    padding: 15px 5px;
    margin: 0 10px;         
}

.options li:focus {
    margin: 0;
    padding: 15px 15px;
}

#borders {
 border-bottom: 1px solid #ccc;
 border-top: 1px solid #ccc;
}

.options li:hover {
  color: black;  
}

/*Style lightbox */
.lightbox {
    max-height: 900px;
    max-width: 1000px;
    width: auto;
    height: fit-content;
    place-self: center;
    padding: 2%;
    
}

.slide-container {
    display: inline-flex;
    align-items: center;
    
}

.media-title-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-height: 900px;
}

.lightbox button {
    border: none;
    background-color: white;
    cursor: pointer;
}

#lightbox-media {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
    height: auto;
}

#lightbox-media img,
#lightbox-media video {
    max-width: 800px;
    max-height: 800px;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.lightbox svg {
    fill: #901C1C;
}

.previousLightbox svg,
.nextLightbox svg {
    width: 68px;
    height: 50px;
    place-self: center;
}

.previousLightbox,
.nextLightbox {
    padding: 0;
    place-self: center;
}

.closeLightbox svg {
    width: 55px;
    height: 55px;
}

.closeLightbox {
    position: absolute;
    place-self: end;
    top: 25px;
    padding: 0;
}

#lightbox-title {
    color: #901C1C;
    font-size: 1.5em;
    text-align: start;
    font-family: "DM Sans", sans-serif;
    height: 20px;
}

/*Media Queries */
@media (max-height: 700px) {
    #lightbox-media {
        max-height: 550px;
    }

    .modal {
        height: 85%;
        width: 75%;
    }
    
    .modalHeaderText {
    font-weight: 1em;
    padding: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1340px) {
    .header {
        padding: 23px 50px 0 !important;
    }

    #main {
        margin: 0 50px;
        max-width: 1024px;
    }
    
    .media_gallery {
        gap: 40px;
    }

    .photo,
    .video {
        width: 280px;
    }

    .priceBlock {
        width: 250px;
    }
}